<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="StartLMU">
            <command
                  commandId="fr.unice.retro.JavaProjectLMU.command"
                  label="Java Project LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.JavaProject">
                           </adapt></or></iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.unice.retro.JavaPackgeLMU.command"
                  label="Java Package LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IFolder">
                           </adapt>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.PackageFragment">
                           </adapt>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.PackageFragmentRoot">
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.unice.retro.JarFileLMU.command"
                  label="Jar File LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="jar">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.unice.retro.JavaFileLMU.command"
                  label="Java File LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.CompilationUnit">
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="java">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.unice.retro.JavaProjectDependenceLMU.command"
                  label="Java Project Dependence LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.JavaProject">
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="fr.unice.retro.JarFileDependenceLMU.command"
                  label="Jar File Dependence LMU"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <or>
                           <adapt
                                 type="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="jar">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.unice.retro.JavaProjectLMU.command"
            name="JavaProjectLMU">
      </command>
      <command
            id="fr.unice.retro.JavaPackageLMU.command"
            name="JavaPackageLMU">
      </command>
      <command
            id="fr.unice.retro.JavaFileLMU.command"
            name="JavaFileLMU">
      </command>
      <command
            id="fr.unice.retro.JarFileLMU.command"
            name="JarFileLMU">
      </command>
      <command
            id="fr.unice.retro.JavaProjectDependenceLMU.command"
            name="JavaProjectDependenceLMU">
      </command>
      <command
            id="fr.unice.retro.JarFileDependenceLMU.command"
            name="JarFileDependenceLMU">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="lmuanalyser.JavaProjectHandler"
            commandId="fr.unice.retro.JavaProjectLMU.command">
      </handler>
      <handler
            class="lmuanalyser.JavaPackageHandler"
            commandId="fr.unice.retro.JavaPackgeLMU.command">
      </handler>
      <handler
            class="lmuanalyser.JavaFileHandler"
            commandId="fr.unice.retro.JavaFileLMU.command">
      </handler>
      <handler
            class="lmuanalyser.JarFileHandler"
            commandId="fr.unice.retro.JarFileLMU.command">
      </handler>
      <handler
            class="lmuanalyser.JavaProjectDependenceHandler"
            commandId="fr.unice.retro.JavaProjectDependenceLMU.command">
      </handler>
      <handler
            class="lmuanalyser.JarFileDependenceHandler"
            commandId="fr.unice.retro.JarFileDependenceLMU.command">
      </handler>
   </extension>

</plugin>
